# Conversão - OD
Conversão do arquivo OD .dbf para .csv

In [1]:
import pandas as pd
from dbfread import DBF
import matplotlib.pyplot as plt

In [2]:
# set OD research year
year = '2017'

In [3]:
dbf_od_path = 'data/OD-'+year+'/Banco de Dados-OD'+year+'/OD_'+year+'_v1.dbf'
# dbf_od_path

In [4]:
dbf = DBF(dbf_od_path)
df = pd.DataFrame(iter(dbf))

In [5]:
df.to_csv('data/OD-'+year+'/Banco de Dados-OD'+year+'/od_'+year+'.csv', index=False)
df.to_csv('data/ODs/OD_'+year+'.csv', index=False)

In [6]:
df.columns

Index(['ZONA', 'MUNI_DOM', 'CO_DOM_X', 'CO_DOM_Y', 'ID_DOM', 'F_DOM', 'FE_DOM',
       'DOM', 'CD_ENTRE', 'DATA',
       ...
       'MODOPRIN', 'TIPVG', 'PAG_VIAG', 'TP_ESAUTO', 'VL_EST', 'PE_BICI',
       'VIA_BICI', 'TP_ESBICI', 'DISTANCIA', 'ID_ORDEM'],
      dtype='object', length=128)

In [7]:
df.head(5)

,ZONA,MUNI_DOM,CO_DOM_X,CO_DOM_Y,ID_DOM,F_DOM,FE_DOM,DOM,CD_ENTRE,DATA,...,MODOPRIN,TIPVG,PAG_VIAG,TP_ESAUTO,VL_EST,PE_BICI,VIA_BICI,TP_ESBICI,DISTANCIA,ID_ORDEM
0,1,36,333743,7394463,00010001,1,15.416667,1,1,06092017,...,16.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,639.13,1
1,1,36,333743,7394463,00010001,0,15.416667,1,1,06092017,...,16.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,639.13,2
2,1,36,333743,7394463,00010001,0,15.416667,1,1,06092017,...,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,6651.77,3
3,1,36,333743,7394463,00010001,0,15.416667,1,1,06092017,...,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,4243.30,4
4,1,36,333743,7394463,00010001,0,15.416667,1,1,06092017,...,12.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4557.62,5