# CALÇADAS
Análise de calçadas - shapefile

In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium

In [2]:
ds_path = 'data/SIRGAS_SHP_calcada/SIRGAS_SHP_calcada/SIRGAS_SHP_calcada.shp'
gdf = gpd.read_file(ds_path)

In [3]:
gdf.crs = 'epsg:31983'
gdf.to_crs(epsg='4326', inplace=True)
len(gdf)

491383

In [4]:
gdf.columns

Index(['cc_seg_id', 'cc_codlog', 'cc_sq', 'cc_inicio', 'cc_termino',
       'cc_lognome', 'cc_dec_max', 'cc_dec_med', 'cc_dec_min', 'cc_area',
       'cc_lg_max', 'cc_lg_med', 'cc_lg_min', 'cc_pec', 'cc_portari',
       'cc_situac', 'geometry'],
      dtype='object')

In [5]:
gdf.head(3)

,cc_seg_id,cc_codlog,cc_sq,cc_inicio,cc_termino,cc_lognome,cc_dec_max,cc_dec_med,cc_dec_min,cc_area,cc_lg_max,cc_lg_med,cc_lg_min,cc_pec,cc_portari,cc_situac,geometry
0,69112,638749,118045001,NaN,NaN,R PACARI DA MATA,5.21,4.88,4.51,28.0,0.00,0.00,0.00,NaN,NaN,NaN,"POLYGON ((-46.53337 -23.60655, -46.53338 -23.6..."
1,103007,149764,044042001,NaN,NaN,R OLIVEIRA GOUVEIA,1.54,0.79,0.02,32.0,2.29,2.13,1.97,NaN,NaN,NaN,"POLYGON ((-46.58292 -23.58541, -46.58292 -23.5..."
2,102997,132039,044084001,NaN,NaN,R MARIA DAFFRE,0.00,0.00,0.00,26.0,0.00,0.00,0.00,DECRETO N 58.845/2019,NaN,NaN,"POLYGON ((-46.58455 -23.58822, -46.58455 -23.5..."